@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mooli&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: "Mooli", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1200px !important;
  }
}

.active {
  color: #ff0336;
}

.shadow {
  box-shadow: 0 20px 27px 0px #0000000d !important;
}
.shadow-lg {
  box-shadow: 0px 0px 20px 0px #00000014, 2px 3px 9px -5px #0000000d !important;
}

/* ------------------------------------------ */
.text_bg_red {
  background-image: url(/images/text_bg_red.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: max-content;
  padding: 6px 50px;
  color: #fff;
}

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 12px 25px;
  background: #fff;
  color: #222;
  font-weight: 600;
  position: relative;
  width: max-content;
}

.primary-btn svg {
  font-size: 20px;
  color: #ff0336;
}

.primary-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.4s;
  border: 1px solid hsla(0, 0%, 100%, 0.362);
  left: 12px;
  top: -12px;
}

.primary-btn:hover {
  color: #ff0336;
}
.primary-btn:hover::after {
  border: 1px solid #fff;
  left: 0;
  top: 0;
}

.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 12px 25px;
  background: #3a393f;
  color: #fff;
  font-weight: 600;
  position: relative;
  width: max-content;
}

.secondary-btn svg {
  font-size: 20px;
}

.secondary-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.4s;
  border: 1px solid #3a393f;
  left: 10px;
  top: -10px;
}

.secondary-btn:hover::after {
  border: 1px solid #ff0336;
  left: 0;
  top: 0;
}

.secondary-btn:hover {
  background: #ff0336;
}

/*---------------- Header -------------------*/

@media only screen and (max-width: 1024px) {
  .menu_overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: #0000006c;

    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu_overlay_show {
    visibility: visible;
    opacity: 1;
  }

  header nav .menu {
    position: fixed;
    height: 100vh;
    width: 300px;
    background: #fff;
    left: 0;
    top: 0;
    z-index: 9999;
    padding: 20px;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  header nav .menu_show {
    transform: translateX(0%);
  }

  header nav .menu li a {
    color: #222;
    font-size: 18px;
    text-align: center;
    display: block;
    margin-top: 8px;
  }
}

header nav ul li a {
  transition: all 0.3s ease;
}

header nav ul li a:hover {
  color: #ff0336;
}
.header_btn {
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 500;

  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 8px;
}

.header_btn svg {
  font-size: 24px;
  color: #ff0336;
  transition: all 0.5s ease;
}

.header_btn:hover svg {
  transform: rotate(180deg);
  color: #fff;
}

/* -------Hero --------------*/
.hero_wrap {
  background-image: linear-gradient(to right, #00000003, #000),
    url(/images/hero/hero2.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

/* ------------About------------ */
.about_wrap {
  background-image: url(/images/about/about_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 50px 0px;
}

.about_card {
  padding: 80px 20px;
  border-radius: 20px 5px 20px 5px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px #00000014, 2px 3px 9px -5px #0000000d;
  text-align: center;

  transition: all 0.3s ease;
}

.about_card img {
  width: 75px;
}

.about_card h2 {
  font-size: 18px;
  margin: 15px 0px;
  transition: all 0.3s ease-out;
}

.about_card p {
  font-size: 15px;
  transition: all 0.3s ease;
}

.about_card:hover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.about_card:hover h2,
.about_card:hover p {
  color: #fff;
}

.about_card_1:hover {
  background-image: linear-gradient(0deg, #000000ad, #000000ad),
    url(/images/about/progression_bg.jfif);
}

.about_card_2:hover {
  background-image: linear-gradient(0deg, #000000ad, #000000ad),
    url(/images/about/workout_bg.jfif);
}

.about_card_3:hover {
  background-image: linear-gradient(0deg, #000000ad, #000000ad),
    url(/images/about/nutritions_bg.jfif);
}

.about_right_img {
  background-image: url(/images/about/runbg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 240px;

  position: absolute;
  right: 50px;
}

.about_run_text_img {
  background-image: url(/images/about/run_text.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 69px;

  position: absolute;
  left: 50px;
}

@media only screen and (min-width: 640px) {
  .about_card h2 {
    font-size: 26px;
  }
  .about_card p {
    font-size: 16px;
  }
}

/* ------------------featured_class-------------------- */
.featured_class_card {
  height: 320px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: inset 2px 2px 8px 160px rgba(0, 0, 0, 0.2);
  position: relative;
}

.featured_class {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  object-fit: cover;

  transition: all 0.4s ease;
}

.featured_class_1 {
  background-image: linear-gradient(0deg, #0000001e, #00000026),
    url(/images/FeaturedClass/1.jpg);
}
.featured_class_2 {
  background-image: linear-gradient(0deg, #0000004d, #00000049),
    url(/images/FeaturedClass/2.jpg);
}
.featured_class_3 {
  background-image: linear-gradient(0deg, #0000005f, #00000071),
    url(/images/FeaturedClass/3.jpg);
}
.featured_class_4 {
  background-image: linear-gradient(0deg, #00000041, #0000003a),
    url(/images/FeaturedClass/4.jpg);
}
.featured_class_5 {
  background-image: linear-gradient(0deg, #00000041, #0000003a),
    url(/images/FeaturedClass/5.jpg);
}
.featured_class_6 {
  background-image: linear-gradient(0deg, #00000041, #0000003a),
    url(/images/FeaturedClass/6.jpg);
}

.featured_class_card:hover .featured_class {
  transform: scale(1.2);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.featured_class_card:hover .class_icon {
  background: #fff;
}

.class_icon {
  width: 150px;
  height: 70px;
  border-radius: 60px;
  position: absolute;
  top: 68px;
  left: -65px;
  background: #dddddd6e;
  transform: rotate(45deg);

  display: flex;
  justify-content: end;
  align-items: center;

  transition: 0.3s ease;
}

.class_icon img {
  width: 45px;
  height: 35px;
  margin: 10px;
  transform: rotate(-45deg);
}

/* ---------------------why_choose_wrap--------------------- */
.why_choose_wrap {
  background-image: url(/images/WhyChoose/WhyChoose_bg.jpg);
  background-size: cover;
  background-position: center;
}

/* -----------------------pricing_wrap------------------------- */
.pricing_wrap {
  background-image: url(/images/about/about_bg.jpg);
  background-size: cover;
  background-position: center;
}

.pricing_card {
  background: #fff;
  padding: 60px;
  border-radius: 6px;
  box-shadow: 0px 0px 20px 0px #00000014, 2px 3px 9px -5px #0000000d;
}

.pricing_card:nth-child(2) {
  background: #000 !important;
  color: #fff;
}

.pricing_card:nth-child(2) ul li {
  color: #fff;
}

.pricing_card ul li {
  font-size: 19px;
  margin-top: 10px;
  color: #6e6e6e;
}

@media only screen and (max-width: 1100px) {
  .pricing_card {
    width: max-content;
    margin: auto;
    margin-top: 10px;
  }
}

/* ------------------calculate_wrap----------------- */
.calculate_wrap {
  background-image: url(/images/calculate_bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 0px;
  color: #fff;
}

/* ------------------Contact---------------- */

.contact_wrap {
  background-image: url(/images/contact_bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 0px;
  color: #fff;
}
