@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mooli&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: "Mooli", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1200px !important;
  }
}

.active {
  color: #ff0336;
}

/* ------------------------------------------ */
.text_bg_red {
  background-image: url(/images/text_bg_red.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: max-content;
  padding: 6px 50px;
}

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 12px 25px;
  background: #fff;
  color: #222;
  font-weight: 600;
  position: relative;
}

.primary-btn svg {
  font-size: 20px;
  color: #ff0336;
}

.primary-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.4s;
  border: 1px solid hsla(0, 0%, 100%, 0.362);
  left: 12px;
  top: -12px;
}

.primary-btn:hover {
  color: #ff0336;
}
.primary-btn:hover::after {
  border: 1px solid #fff;
  left: 0;
  top: 0;
}

/*---------------- Header -------------------*/

@media only screen and (max-width: 1024px) {
  .menu_overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: #0000006c;

    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu_overlay_show {
    visibility: visible;
    opacity: 1;
  }

  header nav .menu {
    position: fixed;
    height: 100vh;
    width: 300px;
    background: #fff;
    left: 0;
    top: 0;
    z-index: 9999;
    padding: 20px;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  header nav .menu_show {
    transform: translateX(0%);
  }

  header nav .menu li a {
    color: #222;
    font-size: 18px;
    text-align: center;
    display: block;
    margin-top: 8px;
  }
}

header nav ul li a {
  transition: all 0.3s ease;
}

header nav ul li a:hover {
  color: #ff0336;
}
.header_btn {
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 500;

  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 8px;
}

.header_btn svg {
  font-size: 24px;
  color: #ff0336;
  transition: all 0.5s ease;
}

.header_btn:hover svg {
  transform: rotate(180deg);
  color: #fff;
}

/* -------Hero --------------*/
.hero_wrap {
  background-image: linear-gradient(to right, #00000003, #000),
    url(/images/hero/hero2.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
